.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  background-color: #212529;
  width: 100%;
  height: 100vh;
}

.landing__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing__main img {
  width: 120px;
  margin-bottom: 50px;
}

.landing__main span,
.landing__main p {
  color: white;
}

.landing__main p {
  width: 200px;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}

.landing__main button {
  width: 240px;
  height: 50px;
  margin-top: 50px;
  color: white;
  font-weight: bold;
  background: #fd377e;
  border: 2px solid #fd377e;
  box-sizing: border-box;
  border-radius: 8px;
}

.landing__main button:hover {
  background-color: purple;
  border: 2px solid purple;
  cursor: pointer;
}

.svg {
  display: none;
}

@media screen and (min-width: 768px) {
  .landing {
    flex-direction: row;
  }

  .landing__main {
    width: 250px;
  }

  .svg {
    display: inherit;
    width: 500px;
    height: 500px;
  }
}
